node_modules
.vscode
dist
.nuxt
.nyc_output
.env
.env.*
tmp
.now
.tap
# Enhance temp files
.enhance/

coverage/

# Generated assets
public/static.json
public/browser/
public/bundles/
public/pages/

# Architect CloudFormation
sam.json
sam.yaml

.DS_Store
