<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" sizes="192x192" href="/static/favicon.png">
    <title>webmention notification service and tools</title>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <main>
      <div id="app" class="flex-grow">
        <div class="flex">
          <h1>webmention.app</h1>
          <h2>Platform agnostic webmention notifications</h2>
          <div class="flex-grow">

            <p>This is a micro service that will check a given URL for links to other sites, discover if those links support webmentions and will send a webmention POST to the target.</p>

            <p>The supported API is simplistic:</p>

            <ul><li>GET https://webmention.app/check/:url<br><span>Perform a dry run, discovering all links and valid Webmention endpoints</span></li>
            <li>POST https://webmention.app/check/:url<br><span>Sends the full webmention requests</span></li></ul>

            <p>📘 Documentation coming v. soon.</p>
          </div>
          <div>
            <hr>
            <h3>Scan a website or blog post</h3>
            <form @submit="findMentions" method="GET" action="/check">
              <div class="flex-fields">
                <label class="label" for="url">URL:</label>
                <input v-model="url" name="url" id="url">
                <button type="submit" class="btn" v-bind:disabled="loading" v-bind:class="{ loading: loading, btn: true }">Start</button>
              </div>
            </form>
            <div v-cloak>
              <p v-if="hasResult"><strong>{{ mentions.length === 0 ? 'No' : mentions.length }} webmentions found.</strong></p>
              <ol id="mentions">
                <li v-for="mention in mentions">
                  <span>source=</span><a v-bind:href="mention.source">{{ mention.source }}</a><br>
                  <span>target=</span><a v-bind:href="mention.target">{{ mention.target }}</a>
                </li>
              </ol>
              <p v-if="hasResult & mentions.length"><button class="btn cta">Send all webmentions</button></p>
            </div>

          </div>
          <footer>
            <ul>
              <li>Built by <a href="https://remysharp.com">@rem</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="https://github.com/remy/wm">Source on Github</a></li>
            </ul>
          </footer>
        </div>
    </main>
    <script src="/static/vue.js"></script>
    <script src="/static/check.js"></script>
  </body>
</html>
